* {
    margin: 0;
}

.body {
    background: lightpink;
    display: flex;
    justify-content: center;
}

.content {
}

.with-lines {
    position: relative; /*чтобы от него отталкивались абсолютно позиционированные дети*/
}

.first-block {
    font-size: 50px;
    text-align: center;
}

.lines-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lines {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line {
    width: 1px;
    height: 100%;
    margin-right: 60px;
    background-size: 1px 24px;
    background-image: linear-gradient(black 50%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-y;
    flex-shrink: 0;
}

.line:last-child {
    margin-right: 0;
}

.logo {
    margin-left: 18px;
}
