* {
    margin: 0;
}

.body {
    background: lightpink;
    display: flex;
    justify-content: center;
}

.content {
}

.with-lines {
    position: relative;
    background: black;
    z-index: -2;
}

.first-block {
    
}

.lines-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lines {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line {
    width: 1px;
    height: 100%;
    margin-right: 60px;
    background-size: 1px 24px;
    background-image: linear-gradient(#2A2A2A 50%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-y;
    flex-shrink: 0;
}

.line:last-child {
    margin-right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 24px;
    margin-left: 18px;
}

.menu {
    margin-top: 39px;
    margin-right: 18px;
}

.menu1 {
    background: white;
    height: 2px;
    width: 18px;
}

.menu2 {
    margin-top: 6px;
    background: white;
    height: 2px;
    width: 18px;
}

.first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Effra";
    color: white;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    color: #8B8B8B;
    font-family: "Effra";
    font-size: 14px;
    line-height: 21px;
}

.button-get-started {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    width: 139px;
    height: 44px;
    border-radius: 40px;
    background-color: #A8FF35;
    font-family: 'Effra';
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 0;
}