* {
    margin: 0;
}


.body {
    display: flex;
    justify-content: center;
}

.with-lines {
    position: relative;
    background: black;
    z-index: -2;
}

.lines-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lines {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line {
    width: 1px;
    height: 100%;
    margin-right: 60px;
    background-size: 1px 24px;
    background-image: linear-gradient(#2A2A2A 50%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-y;
    flex-shrink: 0;
}

.line:last-child {
    margin-right: 0;
}

@media screen and (min-width: 377px) {

    .lines-wrapper {
        display: none;
    }

    .lines-wrapper-comp {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .line {
        margin-right: 80px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 24px;
    margin-left: 18px;
}

.menu {
    margin-top: 39px;
    margin-right: 21px;
}

.menu1 {
    background: white;
    height: 2px;
    width: 18px;
}

.menu2 {
    margin-top: 6px;
    background: white;
    height: 2px;
    width: 18px;
}

.logo-name {
    display: none;
}

.header-center {
    display: none;
}

.button-registration {
    display: none;
}

.login {
    display: none;
}

@media screen and (min-width: 377px) {

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo{
        margin: 0;
    }

    .logo-name {
        display: flex;
        margin-left: 10px;
        font-family: "Inter";
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #FFFFFF;
    }    

    .header-left {
        display: flex;
        align-items: center;
        margin-top: 29px;
    }

    .header-center {
        display: flex;
        align-items: center;
        margin-top: 21px;
        font-family: "Effra";
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #FFFFFF;
    }

    .header-center div {
        margin-right: 40px;
    }

    .menu {
        display: none;
    }

    .header-right {
        display: flex;
        align-items: center;
        margin-top: 28px;
    }

    .login {
        display: flex;
        font-family: "Effra";
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color:#FFFFFF;
    }

    .button-registration {
        display: flex;
        justify-content: center;
        margin-left: 40px;
        width: 129px;
        height: 42px;
        border-radius: 40px;
        background-color: #FFFFFF;
        font-family: "Effra";
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #000000;
        border: 0;
    }
}

.first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Effra";
    color: white;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    color: #8B8B8B;
    font-family: "Effra";
    font-size: 14px;
    line-height: 21px;
}

.button-get-started {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    width: 139px;
    height: 44px;
    border-radius: 40px;
    background-color: #A8FF35;
    font-family: 'Effra';
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 0;
}

.button-start-signature {
    display: none;
}

.socnet-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 24px;
}

.twitter-shadow {
    display: flex;
    width: 300px;
    height: 78px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(-4deg);
    z-index: 7;
}

.twitter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(24, 24, 24, 1);
    width: 293px;
    height: 70px;
    transform: rotate(-4deg);
    z-index: 8;
    margin-top: -80px;
}

.img {
    margin-left: 35px;
}

.tw-cross {
    position: absolute;
    margin-left: 5px;
    margin-top: -6px;
}

.name-link {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 12px;
    background: linear-gradient(90deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.pinterest-shadow {
    display: flex;
    width: 300px;
    height: 78px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(2deg);
    z-index: 5;
}

.pinterest {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #181818;
    width: 293px;
    height: 70px;
    transform: rotate(2deg);
    white-space: nowrap;
    z-index: 3;
    margin-top: -76px;
    z-index: 6;
}

.pn-cross {
    position: absolute;
    margin-left: -26px;
    margin-top: -6px;

}

.facebook-shadow {
    display: flex;
    width: 300px;
    height: 78px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(-2deg);
    z-index: 3;
}

.facebook {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #181818;
    width: 293px;
    height: 70px;
    transform: rotate(-2deg);
    white-space: nowrap;
    z-index: 4;
    margin-top: -79px;
}

.fb-cross {
    position: absolute;
    margin-left: -22px;
    margin-top: -6px;
}

.ball-shadow {
   display: flex;
    width: 300px;
    height: 78px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(4deg);
    z-index: 1; 
}

.ball {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #181818;
    width: 293px;
    height: 70px;
    transform: rotate(4deg);
    z-index: 2;
    margin-top: -76px;
}

.bl-cross {
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
}

@media screen and (min-width: 377px) {

    .first-block {
        margin-top: 128px;
    }

    .main-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;   
    }

    .main-info{
        display: none;
    }

    .main-info-comp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
        color: #8B8B8B;
        font-family: "Effra";
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }

    .button-start {
        display: flex;
        align-items: flex-end;
        margin-top: 40px;
        margin-left: 104px;
    }

    .button-get-started {
        width: 180px;
        height: 57px;
        font-size: 18px;
        line-height: 25px;
    }

    .button-start-signature {
        display: flex;
        flex-direction: column;
        padding-left: 18px;
        margin-bottom: 6px;

    }

    .button-start-info {
        transform: rotate(6deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "GoodDog New";
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: white;
    }

    .white-arrow {
        margin-top: 8px;
    }

    .socnet-tabs {
        margin-top: 96px;
        flex-direction: row;
        font-size: 24px;
        line-height: 28px;
    }

    .twitter-box {
        z-index: 4;
    }


    .twitter-shadow {
        width: 341px;
        height: 82px;
    }

    .twitter {
        margin-top: -88px;
        margin-left: -6px;
        width: 341px;
        height: 82px;
    }

    .pinterest-box {
        margin-top: 60px;
        margin-left: -113px;
        z-index: 3;
    }

    .pinterest-shadow {
        width: 341px;
        height: 82px;
    }

    .pinterest {
        margin-top: -82px;
        margin-left: -6px;
        width: 341px;
        height: 82px;
    }

    .facebook-box {
        margin-top: 15px;
        margin-left: -80px;
        z-index: 2;

    }

    .facebook-shadow {
        width: 341px;
        height: 82px;
    }

    .facebook {
        margin-top: -88px;
        margin-left: -6px;
        width: 341px;
        height: 82px;
    }

    .fb-cross {
        margin-left: 32px;
    }

    .tw-cross {
        margin-left: 58px;
    }

    .pn-cross {
        margin-left: 30px;
    }

    .bl-cross {
        margin-left: 65px;
    }

    .ball-box {
        margin-top: 67px;
        z-index: 1;
        margin-left: -66px;
    }

    .ball-shadow {
        width: 341px;
        height: 82px;
    }

    .ball {
        width: 341px;
        height: 82px;
    }
}

.second-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background: #A8FF35;
}

.second-block-title {
    margin-top: 80px;
    font-family: "Effra";
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.second-block-tab {
    display: flex;
    margin-top: 32px;
}

.tab-signature-1 {
    display: flex;
    flex-direction: column;
    z-index: 3;
    margin-bottom: -20px;
    margin-left: 238px;
}

.arrow1 {
    z-index: 3;
}

.tab-signature-info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(6deg);
    font-family: "GoodDog New";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 4px;
}

.second-block-tabitab {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 14px;
}

.findtrend-tab {
    display: flex;
    align-items: center;
    margin: 24px;
    background-color: #030303;
}

.ft-name-link {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 14px;
    background: linear-gradient(90deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.ft-cross {
    z-index: 2;
}

.ft-tab-info {
    display: flex;
    align-items: center;
    margin: 22px 34px;
}

.tab-signature-2 {
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: -19px;
}

.arrow2 {
    margin-left: 35px;
}

.tab-signature-info-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(1.13deg);
    font-family: "GoodDog New";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.second-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
    font-family: "Effra";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 80px;
}

.arrow3 {
    display: none;
}

.second-block-info-comp {
    display: none;
}

@media screen and (min-width: 376px) {

    .second-block {
        margin-top: 99px;
    }

    .second-block-title {
        margin-top: 140px;
        font-size: 72px;
        line-height: 85px;
    }

    .second-block-tab {
        margin-top: 60px;
    }

    .arrow1 {
        display: none;
    }

    .arrow3 {
        display: block;
        height: 28px;
        width: 34px;
    }

    .findtrend-tab {
        margin: 60px 80px;
    }

    .ft-tab-info {
        margin: 25px 40px;
    }

    .ft-name-link {
        font-size: 24px;
        line-height: 28px;
        margin-left: 16px;
    }

    .tab-signature-1 {
        margin-top: 120px;
        margin-left: 24px;
        
    }

    .tab-signature-info-1 {
        font-size: 14px;
        line-height: 14px;
    }

    .tab-with-capt {
        display: flex;
        flex-direction: row-reverse;
    }

    .tab-signature-2 {
        justify-content: flex-end;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-right: 25px;
    }

    .tab-signature-info-2 {
        margin-top: 2px;
        transform: rotate(6deg);
        font-size: 14px;
        line-height: 14px;
    }

    .second-block-info {
        display: none;
    }

    .second-block-info-comp {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Effra";
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 140px;
    }

}

.startup-grow {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.startup-grow-main-title {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Effra";
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
}

.text-light {
    color: #ADADAD;
}

.startups {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 80px;
}

.startups-main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Effra";
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
}

.startups-tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.mic-all {
    display: flex;
}

.microsoft {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-microsoft {
    margin: 25px 23px;
}

.allianz {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-allianz {
    margin: 25px 33px;
}

.up-vo {
    display: flex;
    margin-top: 14px;
}

.upwork {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-upwork {
    margin: 24px 37px;
}

.volvo {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-volvo {
    margin: 30px 28px;
}

.gra-ver {
    margin-top: 14px;
    display: flex;
}

.grab {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-grab {
    margin: 24px 47px;
}

.verizon {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-verizon {
    margin: 26px 32px;
}

.co-ex {
    display: flex;
    margin-top: 14px;
}

.coinbase {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-coinbase {
    margin: 26px 37px;
}

.expedia {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-expedia {
    margin: 24px 34px;
}

.ai-ma {
    display: flex;
    margin-top: 14px;
}

.airtable {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-airtable {
    margin: 25px 26px;
}

.magento {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-magento {
    margin: 22px 31px;
}

.ca-bo {
    display: flex;
    margin-top: 14px;
}

.carrera {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-carrera {
    margin: 24px 28px;
}

.bonanza {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-bonanza {
    margin: 28px 32px;
}

.we-su {
    display: flex;
    margin-top: 14px;
}

.wetransfer {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-wetransfer {
    margin: 25px 28px;
}

.suzuki {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-suzuki {
    margin: 27px;
}

.al-he {
    display: flex;
    margin-top: 14px;
}

.algolia {
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
}

.img-algolia {
    margin: 25px 32px;
}

.heineken {
    background-color: #F5F5F5;
    border-radius: 8px;
}

.img-heineken {
    margin: 27px 23px;
}

.startups-title-media {
    display: none;
}

.startups-main-title-media {
    display: none;
}

@media screen and (min-width: 376px) {

    .startup-grow-main-title {
        display: none;
    }

    .startups-title-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: "Effra";
        margin-top: 140px;
        font-size: 64px;
        line-height: 76px;
        font-weight: 700;
    }

    .startups {
        margin-top: 280px;
        margin-bottom: 140px;
    }

    .startups-main-title {
        display: none;
    }

    .startups-main-title-media {
        display: flex;
        align-items: center;
        font-family: "Effra";
        font-size: 64px;
        font-weight: 700;
        line-height: 76px;
    }

    .startups-tablets {
        margin-top: 80px;
    }

    .tab-line-1 {
        display: flex;
    }

    .microsoft {
        margin-right: 32px;
    }

    .img-microsoft {
        margin: 40px 38px;
    }

    .allianz {
        margin-right: 32px;
    }

    .img-allianz {
        margin: 40px 55px;
    }

    .up-vo {
        margin: 0;
    }

    .upwork {
        margin-right: 32px;
    }

    .img-upwork {
        margin: 38px 60px;
    }

    .img-volvo {
        margin: 48px 46px;
    }

    .tab-line-2 {
        display: flex;
        margin-top: 32px;
    }

    .gra-ver {
        margin: 0;
    }

    .grab {
        margin-right: 32px;
    }

    .img-grab {
        margin: 38px 65px;
    }

    .verizon {
        margin-right: 32px;
    }

    .img-verizon {
        margin: 42px 52px;
    }

    .co-ex {
        margin: 0;
    }

    .coinbase {
        margin-right: 32px;
    }

    .img-coinbase {
        margin: 44px 59px;
    }

    .img-expedia {
        margin: 38px 57px;
    }

    .tab-line-3 {
        display: flex;
        margin-top: 32px;
    }

    .ai-ma {
        margin: 0;
    }

    .airtable {
        margin-right: 32px;
    }

    .img-airtable {
        margin: 40px 47px;
    }

    .magento {
        margin-right: 32px;
    }

    .img-magento {
        margin: 36px 51px;
    }

    .ca-bo {
        margin: 0;
    }

    .carrera {
        margin-right: 32px;
    }

    .img-carrera {
        margin: 39px 46px;
    }

    .img-bonanza {
        margin: 46px 53px;
    }

    .tab-line-4 {
        display: flex;
        margin-top: 32px;
    }

    .we-su {
        margin: 0;
    }

    .wetransfer {
        margin-right: 32px;
    }

    .img-wetransfer {
        margin: 41px 50px;
    }

    .suzuki {
        margin-right: 32px;
    }

    .img-suzuki {
        margin: 43px 44px;
    }

    .al-he {
        margin: 0;
    }

    .algolia {
        margin-right: 32px;
    }

    .img-algolia {
        margin: 40px 52px;
    }

    .img-heineken {
        margin: 43px 45px;
    }
}